/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=message], input[type=email], input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #04AA6D; 
  color: white;
  padding: 12px 20px;
  border-color: rgb(18, 115, 251);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s; 
  
}

/* button[type=submit] :before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #ccc;
} */

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #97a045; 
  border-color: aqua;
}

 /* i{
  position:absolute;
  inset:0;
  display:block;
}

 i::before{
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: red;
  box-shadow:#04AA6D;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

i::before{
  width:20px;
  left: 30%;
}

i::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background:yellow;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

i::after{
  width:20px;
  left: 80%;
} */
/* Hide Streamlit Branding */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
